/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* TimesNow */
@font-face {
  font-family: 'TimesNow';
  font-weight: 200;
  font-style: normal;
  src: url(./fonts/timesnow/timesnow-extralight.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 300;
  font-style: normal;
  src: url(./fonts/timesnow/timesnow-light.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/timesnow/timesnow-semilight.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/timesnow/timesnow-semibold.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/timesnow/timesnow-bold.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/timesnow/timesnow-extrabold.otf) format('opentype');
}

/* TimesNow Italic */
@font-face {
  font-family: 'TimesNow';
  font-weight: 200;
  font-style: italic;
  src: url(./fonts/timesnow/timesnow-extralight-italic.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 300;
  font-style: italic;
  src: url(./fonts/timesnow/timesnow-light-italic.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 400;
  font-style: italic;
  src: url(./fonts/timesnow/timesnow-semilight-italic.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 500;
  font-style: italic;
  src: url(./fonts/timesnow/timesnow-semibold-italic.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 600;
  font-style: italic;
  src: url(./fonts/timesnow/timesnow-bold-italic.otf) format('opentype');
}
@font-face {
  font-family: 'TimesNow';
  font-weight: 700;
  font-style: italic;
  src: url(./fonts/timesnow/timesnow-extrabold-italic.otf) format('opentype');
}

/* Wagon */
@font-face {
  font-family: 'Wagon';
  font-weight: 200;
  font-style: normal;
  src: url(./fonts/wagon/Wagon-ExtraLight.otf) format('opentype');
}
@font-face {
  font-family: 'Wagon';
  font-weight: 300;
  font-style: normal;
  src: url(./fonts/wagon/Wagon-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Wagon';
  font-weight: 200;
  font-style: italic;
  src: url(./fonts/wagon/Wagon-ExtraLightItalic.otf) format('opentype');
}

/* Font weights */
.font-thin {
  font-weight: 200;
}
.font-light {
  font-weight: 300 !important;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 600;
}
.font-heavy {
  font-weight: 700;
}
.font-black {
  font-weight: 800;
}

/* Font aAmily */
.wagon {
  font-family: 'Wagon';
}

/* Font style */
.font-italic {
  font-style: italic;
}

body{ 
  font-family: 'TimesN' !important;
  font-weight: 300;
}
.maxwidth-none {
    max-width: none !important;
}